@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.input-container {
  position: relative;
}

.input-field {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 1.25rem 1rem 0.75rem;
  width: 100%;
  font-size: 1rem;
  outline: none;
}

.placeholder-label {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  color: #999;
  pointer-events: none;
  transition: top 0.2s, font-size 0.2s;
}

.input-field:focus + .placeholder-label,
.input-field:not(:placeholder-shown) + .placeholder-label {
  top: 0.25rem;
  font-size: 0.75rem;
  color: #666;
}

.Pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.Pagination .active {
  padding: 0.5rem 0.9rem;
  background-image: linear-gradient(to right, #48c6ef, #6f86d6);
  color: white;
  border-radius: 10px;
}

.Pagination .previous,
.Pagination .next {
  padding: 0.5rem 0.6rem;
  color: gray;
}

.custom-video {
  /* width: 540px; */
  height: 360px;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #6f86d6;
  border-radius: 10px;
}

/* Set scrollbar track color */
::-webkit-scrollbar-track {
  background-color: white;
  border: 0.5px solid rgb(209, 196, 196);
}

.w-60 {
  max-height: 300px;
  overflow-y: auto;
}

/* Custom styles for the calendar */

.custom-calendar {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

.hideScroller {
  -ms-overflow-style: none;
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.hideScroller::-webkit-scrollbar {
  display: none;
}

.bgcolor {
  background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
}

.homepagemoments .swiper-pagination {
  bottom: -10px !important;
  z-index: 5 !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: black;
}

.screenshot-enter {
  opacity: 0;
  transform: scale(0.9);
}
.screenshot-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.screenshot-exit {
  opacity: 1;
  transform: translateX(0);
}
.screenshot-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}

.videoElement {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}
